.error {
  font-weight: bold;
  color: #FF0000;
}

.login {
  font-style: italic;
}

form label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

td.label {
  font-weight: bold;
}

img.profile {
  vertical-align: top;
}

.class_pic img:hover{
	width:600px; height:500px;
}
.class_pic img{
	border-style: outset;
}
.in_pic{
	border-style: solid;
	border-width: 3px;
	border-color: green;
	margin: 0.1in;
	float:left;
}
fieldset legend {  
    color:#302A2A;  
    font: bold 32px/2 Verdana, Geneva, sans-serif;  
    font-weight: bold;  
    text-align: left;  
    text-shadow: 2px 2px 2px rgb(88, 126, 156);  
    text-align: center;
}   
fieldset{
	border:3px dashed #990099;
}
body{
	background-image: url('images/bg.jpg');
}
.index{
	font: bold 32px/2 Helvetica, Verdana, Tahoma;
}
h2{
	color:GreenYellow;
	font:bold 48px Tahoma, Verdana;
}
td{
	font-color:GreenYellow;
	font: 24px Helvetica, Verdana, Tahoma;
}
.td_viewprofile{
	padding-right:150px;
}
fieldset>label{
	font-color:green;
	font: 24px Helvetica, Verdana, Tahoma;
	margin:3px;
}
fieldset>input{
	font-color:GreenYellow;
	font: 24px Helvetica, Verdana, Tahoma;
	margin:3px;
	background-color: GreenYellow;
}
fieldset>select{
	font-color:GreenYellow;
	font: 24px Helvetica, Verdana, Tahoma;
	margin:3px;
	background-color: GreenYellow;
}
form>input[type=submit]{
	font-color:GreenYellow;
	font: 24px Helvetica, Verdana, Tahoma;
	margin:5px;
}